@import url(https://fonts.bunny.net/css?family=amita:700);
*{
    margin: 0px;
    padding: 0px;
}
body {
    background: url(/img/fundo.jpg)
        center center/cover no-repeat;
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #fefae0;
    font-family: Amita;
    margin: 20px auto;
    width: 450px;
    font-size: 3rem;
    text-align: center;
    border-bottom: 10px double #bc6c25;
}

img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 10px solid #fefae0;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    transition-duration: 1s;
}

img:hover {
    border: 5px solid #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



/*BARRA DE NAVEGAÇAO */
.navbar {
    background-color: #333;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  /* Estilo para o nome do festival */
  .navbar-brand {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
  }
  
  /* Estilo para os botões */
  .navbar-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  /* Estilo para cada botão */
  .navbar-buttons a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-left: 20px;
  }
  #home {
    background-color: #f44336;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
